- checkin = YAML::load(REDIS.lindex('checkin', -1))
.container
  .row
    .span8.offset2
      .hero-unit.main
        %h1.where= checkin.message
        %p.nationality= checkin.location_s
        %p.mobile= checkin.mobile_obfs
        %p.timestamp= checkin.timestamp